parametersSchema:
	forbiddenNames: structure([
		caseSensitive: bool(),
		forbiddenNames: listOf(string())
	])

parameters:
	forbiddenNames:
		caseSensitive: false
		forbiddenNames:
			- Helper
			- Util

services:
	-
		class: Opinionated\Nomenclature\PHPStan\Rules\Class_\ClassDeclarationCollector
		tags:
			- phpstan.collector
	-
		class: Opinionated\Nomenclature\PHPStan\Rules\Class_\FinalWithoutChildren
		tags:
			- phpstan.rules.rule
	-
		class: Opinionated\Nomenclature\PHPStan\Rules\ClassLike\NoDTOSuffix
		tags:
			- phpstan.rules.rule
	-
		class: Opinionated\Nomenclature\PHPStan\Rules\ClassLike\ForbiddenNames
		arguments:
			caseSensitive: %forbiddenNames.caseSensitive%
			forbiddenNames: %forbiddenNames.forbiddenNames%
		tags:
			- phpstan.rules.rule
	-
		class: Opinionated\Nomenclature\PHPStan\Rules\ClassLike\NoStutter
		tags:
			- phpstan.rules.rule
	-
		class: Opinionated\Nomenclature\PHPStan\Rules\ClassLike\NoTypeNameSuffix
		tags:
			- phpstan.rules.rule
	-
		class: Opinionated\Nomenclature\PHPStan\Rules\Interface_\NoIPrefix
		tags:
			- phpstan.rules.rule
	-
		class: Opinionated\Nomenclature\PHPStan\Rules\Namespace_\NoDTOSuffix
		tags:
			- phpstan.rules.rule
	-
		class: Opinionated\Nomenclature\PHPStan\Rules\Namespace_\ForbiddenNames
		arguments:
			caseSensitive: %forbiddenNames.caseSensitive%
			forbiddenNames: %forbiddenNames.forbiddenNames%
		tags:
			- phpstan.rules.rule

